<div class="jumbotron">

<h2>The Story of My Life...</h2>

<% @stories.each do |s| %>
	<h3><%= s.title %></h3> <%= link_to "Read this entry", story_path(s), :class =>"btn btn-link" %> <hr/>
<% end %> 

</div>

<%= link_to "Add an entry", new_story_path, :class =>"btn btn-link" %>





